<header id="header">
    <img src="../assets/Img/Logo.png" alt="icon" id="logo">
    <div style="display: flex; align-items: center;margin: 0 7px;">
        <ul style="display: flex;padding: 0;padding: 10px 20px;">
            <li onmouseover="movePointer(0)" ><a id="1" href="/">Home</a></li>
            <li onmouseover="movePointer(1)" ><a id="2" href="/canzoni">Canzoni</a></li>
            <li onmouseover="movePointer(2)" id="nav_user" >
                Username
                <div id="user_cont">
                    <ul style="display: flex;padding: 0;flex-direction: column;">
                        <li class="cont_voice"><a>Musica</a></li>
                        <li class="cont_voice" style="border-bottom: none;"><a id="2" href="">Preferiti</a></li>
                    </ul>
                </div>
            </li>
            
        </ul>

        <img src="../assets/Img/nav/selector.png" alt="selector" id="selector">
        <hr style="transform: rotate(90deg);width: 40px;border:solid black 1px;">
        <div style="display: flex;align-items: center;">
            <img src="../../assets/Img/Logo.png" style="width: 45px;border-radius: 25px;margin-right: 20px;">
            <div style="width: max-content;margin-right: 30px;max-width: 115px;overflow: hidden;">
                Ciao, <br>
                Usernamedfsfssdfsfd
            </div>
            <span id="three_dot">
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
            </span>
            <div id="three_dot_cont" style="width: 150px;">
                <ul style="display: flex;padding: 0;flex-direction: column;margin: 0;">
                    <li class="cont_voice"><a href="">Modifica profilo</a></li>
                    <li class="cont_voice" style="border-bottom: none;"><a href="">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>