<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../assets/Img/Logo.png">
    <title>Trackstry</title>
    <link rel="stylesheet" href="../assets/css/style.css">


</head>
<body>
    <header id="header">
        <img src="../assets/Img/Logo.png" alt="icon" id="logo">
        <div style="display: flex; align-items: center;margin: 0 20px;">
            <ul style="display: flex;padding: 0;">
                <li onmouseover="movePointer(0)">Home</li>
                <li onmouseover="movePointer(1)">Canzoni</li>
            </ul>
            <img src="../assets/Img/nav/selector.png" alt="selector" id="selector">
            <hr style="transform: rotate(90deg);width: 40px;border:solid black 1px;">
            <div>
                <a href="" style="margin: 0 10px" id="logIn">
                    Login
                </a>
                <button class="button">
                    Sign up
                </button>
            </div>
        </div>
    </header>
    <div id="cover">
        <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);z-index: 998;">
            <h1 style="font-size: 90px;margin-bottom: 15px;">Trackstry</h1>   
            <h3 style="text-align: center;">Fai diventare la tua musica vita</h3>   
        </div>

        <img src="../assets/Img/home/bg_home.jpg" alt="" style="width: 100%;height: 100%;filter: blur(6px); transform: scale(1.1);" >
    </div>
    <div class="container">
        <div style="width: 50%;overflow: hidden;">
            <img src="../assets/Img/home/sec_1.jpg" alt="" style="width: 100%;min-width: 559px">
        </div>
        <div style="position: relative;margin-top: 40px;width: 50%;">
            <div style="margin-left:60px;">
                <h1 style="margin-bottom:40px;">La tua musica</h1>
                <p style="font-size: 18px;">
                    Con Trackstry potrai caricare tutta la musica che <br> 
                    crei per far spere a gli altri chi sei veramente attraverso<br>
                    la tua musica cosa aspetti inizia a caricare le tue canzioni.
                </p>
            </div>
            <button  class="button" style="position: absolute;right: 50%;top: 70%;transform: translateX(+50%)">
                Clicca qui
            </button>
        </div>
    </div>
    <div class="container">
        <div style="position: relative;margin-top: 40px;width: 50%;">
            <div style="margin-left:60px;">
                <h1 style="margin-bottom:40px;">Artisti</h1>
                <p style="font-size: 18px;">
                    Trackstry è una comunity perciò perché non vai a vedere <br> 
                    cosa gli altri artisti hanno da offrire scoprendo novi generi<br>
                    che più si addicono a te e alla tua personalità.
                </p>
            </div>
            <button  class="button" style="position: absolute;right: 50%;top: 70%;transform: translateX(+50%)">
                Clicca qui
            </button>
        </div>
        <div style="width: 50%;overflow: hidden;">
            <img src="../assets/Img/home/sec_2.jpg" alt="" style="width: 100%;min-width: 559px;">
        </div>
    </div>
    <div class="container">
        <div style="width: 50%;overflow: hidden;">
            <img src="../assets/Img/home/sec_3.jpg" alt="" style="width: 100%;min-width: 559px;">
        </div>
        <div style="position: relative;margin-top: 40px;width: 50%;">
            <div style="margin-left:60px;">
                <h1 style="margin-bottom:40px;">Iscriviti</h1>
                <p style="font-size: 18px;">
                    Ora che hai visto le potenzialità di Trackstry cosa aspetti<br> 
                    ad unirti, iscriviti e dai inizio alla festa con la tua creatività.<br>
                    Clicca sul bottone per Iscriverti.
                </p>
            </div>
            <button  class="button" style="position: absolute;right: 50%;top: 70%;transform: translateX(+50%)">
                Clicca qui
            </button>
        </div>
    </div>
    <!-- Site footer -->
    <footer class="site-footer">
        <h6 style="width: max-content;margin-bottom: 20px;">About</h6>
        <p style="width: 82%;text-align: center;margin-bottom: 20px;">
            Sito di riproduzione musica fatto con HTML CSS JS NODE.JS come DB MySQL da Marco Schiavello stupido ragazzo che non sa fare siti, il sito è stato creato per scopi educativi 
            e non rivolto alla monetizzazione per tanto sono accettati aiuti o consigli il codice puo essere visionato anche su Github link: https://github.com/naturald/Trackstry;
            spero che il sito sia di vostro gradimento, ah si la grammatica fa schifo.
        </p>
        <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Copyright &copy; 2021 All Rights Reserved by 
                <a href="#">ma perche scus</a>.
            </p>
        </div>
        <ul class="social-icons">
            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
            <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
        </ul>
    </footer>
    <script src="../assets/js/app.js" ></script>
</body>
</html>