@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Varela+Round&display=swap');
html,body {
  margin: 0;
  width: 100%;
  height: 100%;

  box-sizing: border-box;
  font-family: var(--font-text);
}
main {
  min-height: 1500px;
}
::-webkit-scrollbar {
    display: none;
}
a {
  text-decoration: none;
  color: var(--clr-primary);
}
h3 {
    margin: 0;
    padding: 0;
}
.shadow_text {
  text-shadow:0 0 10px white;
}
li {
  list-style: none;
}
input[type="range"]::-moz-focus-outer {
    border: 0;
}
input[type="range"]:hover {
  outline:none;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  background: rgb(68, 68, 68);
  cursor: pointer;
  border-radius: 100%;
  outline:none;
}
.line {
  width: 100%;
  margin: 0;
  border: black solid 1px;
}
.err {
  width: max-content;
  margin: 10px auto;
  color: red;
  height: 0;
}
.template {
  display: none;
}