/*_________Button_________*/
.button
{
  color: var(--clr-background);
  background-color: var(--clr-primary);
  border: solid 1px var(--clr-primary);
  padding: 5px;
  font-size: 20px;
  font-family: var(--font-text);
  transition: 0.3s;
  font-weight: bold;
  outline: none;
}
.button:hover
{
  background-color: transparent;
  color: var(--clr-primary);
  border: solid 1px var(--clr-primary);
}
/*_________InputText_______*/
.input_text
{
  font-family: var(--font-text);
  border: none;
  border-bottom: solid var(--clr-primary) 2px;
  outline: none;
  padding: 3px;
  font-size: 18px;
  transition: 0.3s;
  min-width: 220px;
  background-color: transparent;
}
.input_text + label
{
  opacity: 0.6;
  position: relative;
  top: -17px;
  left: 3px;
  font-size: 18px;
  pointer-events: none;
  transition: 0.3s;
  height: 0;
  line-height: 0;
}
.container_input_text
{
  display: flex;
  flex-direction: column;
}
.input_text:valid + label
{
  opacity: 1;
  font-size: 14px;
  top: -40px;
}
.input_text:focus + label
{
  opacity: 1;
  font-size: 14px;
  top: -40px;
}
/*________Slider________*/
.slider-cont {
  background-color: #26272b;
}
.slider {
  width: 100%;
  max-width: 1440px;
  height: 30rem;
  margin: auto;
  position: relative;
  overflow: hidden;
}
.slider__img-cont {
  position: absolute;
  height: 100%;
}
.slider__img-cont__img {
  width: 100vw;
  max-width: 1440px;
  height: 100%;
  object-fit: cover;
}
/*________Cover_________*/
.cover {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.cover__cont {
  z-index: 50;
}
.cover__title {
  font-size: var(--font-size-XXL);
  margin: 0;
  margin-bottom: 15px;
  animation: showTitle 2s ease forwards;
}
.cover__subtitle {
  font-size: var(--font-size-S);
  opacity: 0;
  animation: showSubTitle 2s ease 2s forwards;
}
.cover__img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(6px);
  transform: scale(1.1);
  z-index: 40;
}
/*________Image section_________*/
.img-sec {
  position: relative;
  height: 24rem;
  width: 100%;
}
.img-sec__sec {
  height: 100%;
  width: 50%;
  overflow: hidden;
}
.img-sec__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.img-sec__text {
  margin: 0 3.5rem;
  box-sizing: border-box;
}
/*________Nav-bar_______*/
.nav
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  box-sizing: border-box;
  z-index: 999;
  transition: 0.4s;
}
.nav__logo{
  position: relative;
  width: 4rem;
  left: 0.8rem;
}
.nav__selector {
  position: absolute;
  top: 3.4rem;
  width: 0.6rem;
  pointer-events: none;
  transition: 0.3s;
}
.nav__separator {
  height: 3rem;
  border:solid var(--clr-primary) 1px;
  margin: 0 0.2rem;
}
.nav__voices {
  padding: 0;
  margin: 0;
}
.nav__voices > li {
  padding: 0.8rem 0;
  width: max-content;
  margin: 0.9rem;
  list-style: none;
  cursor: pointer;
  z-index: 999;
  font-size: var(--font-size-M);
  font-weight: bold;
  cursor: pointer;
}
.nav__login {
  font-weight: bold;
}
.nav__login:hover {
  text-decoration: underline;
}
.nav__user-img {
  width: 3.1rem;
  height: 3.1rem;
  border-radius: 2.5rem;
  object-fit: cover;
}
.nav__username {
  max-width: 8rem;
  overflow: hidden;
  font-weight: bold;
}
.user-menu__list {
  display: none;
  position: absolute;
  top: 3rem;
  width: 6rem;
  background-color: var(--clr-background);
  border: var(--clr-primary) solid 1px;
  border-bottom: none;
  cursor: pointer;
  padding: 0;
}
.user-menu:hover .user-menu__list{
  display: block;
}
.user-menu__list > li {
  font-weight: normal;
  padding: 0.4rem 0.3rem;
  border-bottom: 1px solid var(--clr-primary);
  transition: 0.4s ease;
  font-size: var(--font-size-S);
  text-align: center;
}
.user-menu__list > li:hover {
  background-color: var(--clr-filter);
}
.dot-menu {
  width: 1.5rem;
}
.dot-menu__icon > div {
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 100%;
  background-color: #26272b;
  margin: 2px 0;
}
.dot-menu__list {
  width: 10rem;
  right: 0.2rem;
}
/*_________Footer_______*/
.footer
{
  background-color: var(--clr-primary);
  padding: 3rem 0 1.8rem;
  font-size: var(--font-size-S);
  line-height: 2rem;
  color: var(--clr-background);
}
.footer__title
{
  color: var(--clr-background);
  font-size: var(--font-size-M);
  text-transform: uppercase;
  margin: 0;
  letter-spacing: 2px;
}
.footer__text {
  text-align: center;
  max-width: 1140px;
}
.footer__link {
  color: var(--clr-background);
  font-size: var(--font-size-S);
  margin-top: 1.5rem;
}