.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.container--row {
    flex-direction: row;
}

.container--nogap {
    gap: 0;
}

.container--Sgap {
    gap: 1rem;
}

.container--justBtwn {
    justify-content: space-between;
}

.container--noValign {
    align-items: flex-start;
}

.container--SMarginH {
    margin: 0 1rem;
}

.container--SMarginV {
    margin: 1rem 0;
}