/*--------------------pre-settings---------------*/
@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Varela+Round&display=swap');
html,body
{
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
::-webkit-scrollbar
{
    display: none;
}
.input_text
{
  font-family: 'Quicksand', sans-serif;
  border: none;
  border-bottom: solid black 2px;
  outline: none;
  padding: 3px;
  font-size: 18px;
  transition: 0.3s;
  min-width: 220px;
  background-color: transparent;
}
.input_text + label
{
  opacity: 0.6;
  position: relative;
  top: -17px;
  left: 3px;
  font-size: 18px;
  pointer-events: none;
  transition: 0.3s;
  height: 0;
  line-height: 0;
}
.container_input_text
{
  display: flex;
  flex-direction: column;
}
.input_text:valid + label
{
  opacity: 1;
  font-size: 14px;
  top: -40px;
}
.input_text:focus + label
{
  opacity: 1;
  font-size: 14px;
  top: -40px;
}
a
{
  text-decoration: none;
  color: black;
}
h3  
{
    margin: 0;
    padding: 0;
}
.shadow_text
{
  text-shadow:0 0 6px black;
}
li
{
  list-style: none;
}
.line
{
  width: 100%;
  margin: 0;
  border: black solid 1px;
}
/*---------------------nav-bar----------------------*/
header
{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    box-sizing: border-box;
    position: fixed;
    z-index: 999;
    transition: 0.4s;
    top: 0;
    left: 0;
}
#logo
{
    width: 60px;
    position: relative;
    left: 10px;
}
.voice_nav
{
  padding: 10px 0;
  width: max-content;
  margin: 12px;
  list-style: none;
  cursor: pointer;
  z-index: 999;
  font-size: 20px;
  font-weight: bold;
}
#logIn
{
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin: 0 10px;
    font-size: 17px;
    transition: 0.4s;
    font-weight: bold;
}
#logIn:hover {text-decoration: underline;}
.button
{
  color: aliceblue;
  background-color: rgb(61, 60, 60);
  border: solid 1px rgb(61, 60, 60);
  padding: 5px;
  font-size: 20px;
  font-family: 'Quicksand', sans-serif;
  transition: 0.3s;
  font-weight: bold;
  outline: none;
}
.button:hover
{
  background-color: transparent;
  color: black;
  border: solid 1px black;
}
#selector
{
  width: 8px;
  position: absolute;
  top: 50px;
  pointer-events: none;
  transition: 0.3s;
}
.dot
{
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background-color: #26272b;
  margin: 3px 0;
}
#three_dot
{
  padding: 10px;
}
#user_cont
{
  position: absolute;
  top: 50px;
  width: 100px;
  height: max-content;
  background-color: white;
  display: none;
  border: black solid 1px;
}
#nav_user:hover #user_cont
{
  color: #007bb6;
  display: block;
}
.cont_voice
{
  width: 100%;
  height: 20px;
  border-bottom: solid black 1px;
  margin: 0;
  text-align: center;
  font-size: 20px;
  padding: 10px 0;
  transition: 0.6s;
}
.cont_voice:hover
{
  background-color:rgb(175, 175, 175);
}
#three_dot_cont
{
  position: absolute;
  top: 55px;
  right: 5px;
  width: 100px;
  height: max-content;
  background-color: white;
  display: none;
  border: black solid 1px;
}
#drop_user_cont
{
  font-weight: normal;
  display: flex;
  padding: 0;
  flex-direction: column;
  height: max-content;
}
.splitbar_nav
{
  transform: rotate(90deg);
  width: 40px;
  border:solid black 1px;
}
#img_user_nav
{
  width: 45px;
  border-radius: 25px;
  margin-right: 20px;
}
#welcome_user
{
  width: max-content;
  margin-right: 30px;
  max-width: 115px;
  overflow: hidden;
  font-weight: bold;
}
/*------------------index-------------------------*/
#cover
{
  pointer-events: none;
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
  min-width: 1200px;
}
.container
{
    display: block;
    width: 100%;
    height: 50%;
    /*border: solid red 1px;*/
    display: flex;
}
.container_img
{
  display: block;
  margin: auto;
  height: 100%;
  min-width: 559px;
  transform: scale(1.6);
}
#title_index
{
  font-size: 90px;
  margin-bottom: 15px;
  animation: showTitle 2s ease forwards;
  animation: name duration timing-function delay iteration-count direction fill-mode;
}
#subtitle_index
{
  opacity: 0;
  animation: showSubTitle 2s ease 2s forwards;
}
@keyframes showTitle 
{
  0%
  {
    transform: translateY(-80px);
    opacity: 0;
  }
  100%
  {
    opacity: 1;
  }
}
@keyframes showSubTitle 
{
  0%
  {
    transform: scale(1.3);
    opacity: 0;
  }
  100%
  {
    opacity: 1;
  }
}
#container_slider
{
  background-color: #26272b;
}
#slider
{
  width: 100%;
  max-width: 1440px;
  height: 550px;
  margin: auto;
  position: relative;
  overflow: hidden;

}
#img_container_slider
{
  position:absolute;
  width: max-content;
  height: 100%;
  display: flex;
}
.img_slider
{
  display: block;
  height: 100%;
  width: 100vw;
  max-width: 1440px;
  overflow: hidden;
}
.inner_img_slider
{
  display: block;
  height: 100%;
  transform: scale(2.3);
  margin: auto;
}
/*------------------login/register----------------------------*/
.form
{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: max-content;
  height: max-content;
}
.img_log
{
  width: 100px;
  height:100px;
  margin: auto;
  margin-bottom: 60px;
}
.bg_log
{
  background-image: linear-gradient(135deg, #0015b2 1%, #4485fc 65%, #437cf5cf 80%);
}
#container_log
{
  width: 80%;
  height: 100vh;
  position: relative;
  margin: auto;  
}

/*------------------artisti----------------------------*/
.img_cover
{
  width: 100%;
  filter: blur(5px);
  transform: scale(1.2);
  min-width:1110px;
}
#cover_canzoni
{
  width: 100%;
  height: 50%;
  overflow: hidden;
  position: relative;
}
#cover_filter
{
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.3);
}
.cointeiner_card
{
  margin-top: 50px;
  display: grid;
  width: 100%;
  justify-items: center;
  grid-template-columns: repeat(auto-fill,250px); 
  justify-content: center;  
}
.card_artisti
{
  width: 200px;
  height: 200px;
  margin: 20px;
  margin-bottom: 60px;
  display: inline-flex;
  position: relative;
}
.card_img
{
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  pointer-events: none;
  margin: 0;
}
.filter_card 
{
  background-color: rgba(0,0,0,0.3);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 0.6s;
  z-index: 41;
}
.filter_card + img
{
  width: 100%;
  z-index: 40;
  transition: 0.6s;
}
.card_artisti:hover .filter_card{opacity: 1;}
.card_artisti:hover .filter_card + img{transform: scale(1.2);}
.name_artista
{
  position: absolute;
  bottom: -60px;
  width: max-content;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
}
/*------------------pag-artista----------------------------*/
#cover_artista
{
  width: 100%;
  height: 40%;
  position: relative;
  margin-bottom: 15px;
  pointer-events: none;
}
#img_artista
{
  transform: translateY(-50%);
  margin-left: 100px;
  border-radius: 100%;
  width: 150px;
  height: 150px; 
  border: white solid 7px;
}
.album
{
  display: flex;
  flex-direction: column;
  width: 60%;
  margin:auto;
  position: relative;
  margin-bottom: 100px;
}
.album_header
{
  display: flex;
  align-items: baseline;
  margin: 0;
}
.album_song
{
  display: flex;
  border-bottom: black solid 1px;
  padding: 5px;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  font-size: 25px;
  align-items: center;
  transition: 0.3s;
}
.album_list
{
  padding: 0;
  margin: 0;
  list-style: none;
}
.single_song
{
  display: flex;
  width: 60%;
  margin:auto;
  position: relative;
  margin-bottom: 100px;
  transition: 0.3s;
}
.song_container
{
  margin-top: 150px;
}
.album_song:hover,.single_song:hover{background-color: rgb(160, 160, 160);}
#name_artista
{
  transform: translateY(-50%); 
  margin-left: 30px;
}
.author
{
  position: absolute;
  left: 40%;
}
.song_title
{
  position: absolute;
  left: 65%;
}
.duration
{
  position: absolute;
  right: 65px;
}
.author_field
{
  font-size: 18px;
  opacity: 0.8;
}
.data_song_field
{
  font-size: 18px;
}
.single_song_duration
{
  top: 50%;
  transform: translateY(-50%);
}
.fav_star
{
  transform: translateY(-50%);
  position: absolute;
  right: 0px;
  width: 25px;
}
.single_fav_star
{
  right: 10px;
  top: 50%;
  width: 30px;
}
.n_track
{
  font-size: 15px;
  margin-right: 5px;
  width: 20px;
}
.song_name 
{
  margin-left: 10px;
}

/*------------------mia-musica----------------------------*/
#button_select
{
  display: flex;
  justify-content:flex-end;
  margin-right: 20px; 
  margin-bottom: 100px;
}
.add_songNalbum
{
  font-family: "quicksand";
  display: flex;
  align-items: center;
  border: solid 2px rgb(55, 223, 55);
  background-color: rgb(55, 223, 55);
  color: white;
  font-size: 18px;
  border-radius: 50px;
  margin: 5px;
  transition: 0.4s;
  outline: none;
  font-weight: bold;
  position: relative;
}
.cross_add
{
  font-size: 25px;
  margin-right:10px ;
  line-height: 100%;
  display: inline-block;
  padding: 2px;
  position: relative;
  top: -2px;
}
.add_songNalbum:hover
{
  color: rgb(55, 223, 55);
  background-color:white;
}
.remove_song
{
  width: 22px;
  height: 22px;
  border-radius: 100%;
  border:rgb(255, 75, 75)solid 2px;
  background-color:transparent;
  position: absolute;
  right: 0;
  cursor: default;
}
.remove_line
{
  position: absolute;
  top: 50%;
  right: 50%;
  width: 50%;
  transform: translate(50%,-50%);
  margin: 0;
  border:rgb(255, 75, 75)solid 1px;
  transition: 0.2s;
}
.remove_song:hover .remove_line{border-color:white;}
.remove_song:hover{background-color:rgb(255, 75, 75);}
.single_song .remove_song
{
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
}
/*------------------preferiti----------------------------*/
#img_preferiti
{
  position: absolute;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 150px;
  height: 150px;
  border-radius: 100%;
  border: solid white 7px;
}
#title_preferiti
{
  position: absolute;
  left: 50%;
  transform: translate(-50%,200%);
}
/*------------------profilo----------------------------*/
#img_profile
{
  width: 100%;
  height: 100%;
}
#container_img_profile
{
  width: 150px;
  height: 150px;
  position: relative;
  border-radius: 100%;
  overflow: hidden;
}
#filter_img_profile
{
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: 0.4s;
}
#container_img_profile:hover #filter_img_profile
{
  opacity: 1;
}
#container_profile_data
{
  display: flex;
  align-items: center;
  width: 70vh;
  justify-content: space-evenly;
  margin: auto;
  margin-bottom: 150px;
  box-shadow: 10px 10px 40px -25px;
  padding: 10px;
  border-radius: 50px;
  border: solid 1px white;
}
.profile_data_label
{
  position: relative;
}
.profile_data
{
  font-size: 20px;
  margin: 0;
  margin-bottom: 15px;
}
#title_profile
{
  width: max-content;
  margin: auto;
}
#page_container_profile
{
  margin-top: 200px;
}
#container_change_profile
{
  margin: auto;
  width: 90vh;
  display: flex;
  flex-direction: column;
  height: max-content;
}
.input_change_profile
{
  width: 100%;
  margin-top: 80px;
}
#sub_change_profile
{
  position: relative;
  top: 50px;  
  width: 200px;
  margin: auto;
  display: block;
}
#change_form
{
  display: flex;
  flex-direction: column;
}
/*------------------uploadAlbum----------------------------*/
#fake_upload
{
  width: 138px;
  height: 128px;
  border: solid black 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#header_album
{
  display: flex;
  align-items: center; 
  margin: 0;
  margin-bottom: 20px;
}
.upload_icon
{
  position: relative;
  left: 15%;
  width:22px;
  height: 22px;
}
.plus_cross
{
  outline: none;
  border: none;
  position: relative; 
  display: block;
  width: 40px;
  height:40px;
  border-radius: 50px;
  background-color: rgb(55, 223, 55);
  margin: auto;
  margin-top: 30px;
}
.line1_cross
{
  display: block;
  width: 25px;
  height:5px;
  margin: 0;
  background-color: white;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
}
.line2_cross{transform: translate(-50%,-50%) rotate(90deg);}
#sub_upload_album
{
  padding: 10px;
  width: max-content;
  height: max-content;
  font-size: 25px;
  margin: auto;
  margin-top: 50px;
}
/*------------------upload_song----------------------------*/
#container_upload_song
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
#sub_upload_song
{
  font-size: 20px;
  margin-top: 50px;
}
.fake_upload
{
  width: 138px;
  height: 128px;
  margin-right: 40px;
  border: solid 1px black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.fake_upload > h3
{
  width: max-content;
}
.preview
{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.songUpload
{
  display: flex;
}
.fakeUploadSong
{
  width: 40px;
  height: 40px;
  margin: 10px;
  margin-left: 160px;
}
.uploadSong
{
  display: none;
}
.upload
{
  display: none;
}
/*------------------player----------------------------*/
#back_arrow_player
{
  transform: scale(2.4);
  position: absolute;
  top: 30px;
  left: 40px;
} 
#container_player
{
  width: 700px;
  height: max-content;
  border:  1px black;
}
#body_player
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#img_player
{
  display: block;
  width: 35vh;
  margin: auto;
  border-radius: 10px;
}
#icon_row_player
{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 300px;
  margin: auto;
}
#player
{
  border: black;
  border-radius: 0;
}
input[type="range"]{
  width: 40%;
  height: 5px;
  outline: none !important;
  appearance:none;
  border:none;
  border-radius: 4px;
  background-color: grey;
  display: block;
  margin: auto;
}
input[type="range"]::-moz-focus-outer {
    border: 0;
}
input[type="range"]:hover {
  outline:none;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  background: rgb(68, 68, 68);
  cursor: pointer;
  border-radius: 100%;
  outline:none;
}
#button-play
{
  display: block;
  border-radius: 100%;
  width: 60px;
  height: 60px;
  background-color: grey;
  position: relative;
  margin-bottom: 20px;
}
#play-icon
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) scale(1.3);
  width: max-content;
  height: max-content;
  display: block;
}
#pause-icon
{
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: max-content;
  height: max-content;
}
#button-play:hover
{
  background-color: rgb(185, 185, 185);
}
/*------------------footer----------------------------*/
.site-footer
{
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
  margin-top: 500px;
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0;
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
