@import 'variables.css';
@import 'base.css';
@import 'layouts.css';
@import 'animations.css';
@import 'components.css';

/*------------------login/register----------------------------*/
.form
{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: max-content;
  height: max-content;
}
.img_log
{
  width: 100px;
  height:100px;
  margin: auto;
  margin-bottom: 60px;
}
.bg_log
{
  background-image: linear-gradient(135deg, #0015b2 1%, #4485fc 65%, #437cf5cf 80%);
}
#container_log
{
  width: 80%;
  height: 100vh;
  position: relative;
  margin: auto;  
}

/*------------------artisti----------------------------*/
.img_cover
{
  width: 100%;
  filter: blur(5px);
  transform: scale(1.2);
  margin-top: -15%;
  min-width:1110px;
}
#cover_canzoni
{
  width: 100%;
  height: 50%;
  overflow: hidden;
  position: relative;
}
#cover_filter
{
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.3);
}
.cointeiner_card
{
  margin-top: 50px;
  display: grid;
  width: 100%;
  justify-items: center;
  grid-template-columns: repeat(auto-fill,250px); 
  justify-content: center;  
}
.card_artisti
{
  width: 200px;
  height: 200px;
  margin: 20px;
  margin-bottom: 60px;
  display: inline-flex;
  position: relative;
  cursor: pointer;
}
.card_img
{
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  pointer-events: none;
  margin: 0;
}
.filter_card 
{
  background-color: rgba(0,0,0,0.3);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 0.6s;
  z-index: 41;
}
.filter_card + img
{
  width: 100%;
  z-index: 40;
  transition: 0.6s;
}
.card_artisti:hover .filter_card{opacity: 1;}
.card_artisti:hover .filter_card + img{transform: scale(1.2);}
.name_artista
{
  position: absolute;
  bottom: -60px;
  width: max-content;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
}
/*------------------pag-artista----------------------------*/
#cover_artista
{
  width: 100%;
  height: 40%;
  position: relative;
  margin-bottom: 15px;
  pointer-events: none;
}
#img_artista
{
  transform: translateY(-50%);
  margin-left: 100px;
  border-radius: 100%;
  width: 150px;
  height: 150px; 
  border: white solid 7px;
}
.album
{
  min-width: 430px;
  display: flex;
  flex-direction: column;
  width: 60%;
  margin:auto;
  position: relative;
  margin-bottom: 100px;
}
.album_header
{
  display: flex;
  align-items: baseline;
  margin: 0;
}
.album_song
{
  display: flex;
  position: relative;
  border-bottom: black solid 1px;
  padding: 5px;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  font-size: 25px;
  align-items: center;
  transition: 0.3s;
  cursor: pointer;
}
.album_list
{
  padding: 0;
  margin: 0;
  list-style: none;
}
.single_song
{
  display: flex;
  width: 60%;
  margin:auto;
  position: relative;
  margin-bottom: 100px;
  transition: 0.3s;
  cursor: pointer;
}
.song_container
{
  margin-top: 150px;
}
.album_song:hover,.single_song:hover{background-color: rgb(160, 160, 160);}
#name_artista
{
  transform: translateY(-50%); 
  margin-left: 30px;
}
.author
{
  position: absolute;
  left: 40%;
}
.song_title
{
  position: absolute;
  left: 65%;
}
.duration
{
  position: absolute;
  right: 65px;
}
.author_field
{
  font-size: 18px;
  opacity: 0.8;
}
.data_song_field
{
  font-size: 18px;
}
.single_song_duration
{
  top: 50%;
  transform: translateY(-50%);
}
.fav_star
{
  transform: translateY(-50%);
  position: absolute;
  right: 0px;
  width: 25px;
}
.single_fav_star
{
  right: 10px;
  top: 50%;
  width: 30px;
}
.n_track
{
  font-size: 15px;
  margin-right: 5px;
  width: 20px;
}
.song_name 
{
  margin-left: 10px;
}

/*------------------mia-musica----------------------------*/
#button_select
{
  display: flex;
  justify-content:flex-end;
  margin-right: 20px; 
  margin-bottom: 100px;
}
.addSong
{
  font-family: "quicksand";
  display: flex;
  align-items: center;
  border: solid 2px rgb(55, 223, 55);
  background-color: rgb(55, 223, 55);
  color: white;
  font-size: 18px;
  border-radius: 50px;
  margin: 5px;
  transition: 0.4s;
  outline: none;
  font-weight: bold;
  position: relative;
}
.cross_add
{
  font-size: 25px;
  margin-right:10px ;
  line-height: 100%;
  display: inline-block;
  padding: 2px;
  position: relative;
  top: -2px;
}
.addSong:hover
{
  color: rgb(55, 223, 55);
  background-color:white;
}
.removeSong
{
  width: 22px;
  height: 22px;
  border-radius: 100%;
  border: rgb(255, 75, 75)solid 2px;
  background-color: transparent;
  position: absolute;
  top: 50%;
  margin-right: 5px;
  transform: translateY(-50%);
  right: 0;
  cursor: default;
}
.removeAlbum
{
  width: 22px;
  height: 22px;
  border-radius: 100%;
  border: rgb(255, 75, 75)solid 2px;
  background-color: transparent;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: default;
}
.remove_line
{
  position: absolute;
  top: 50%;
  right: 50%;
  width: 50%;
  transform: translate(50%,-50%);
  margin: 0;
  border:rgb(255, 75, 75)solid 1px;
  transition: 0.2s;
}
.removeAlbum:hover .remove_line,.removeSong:hover .remove_line{border-color:white;}
.removeSong:hover,.removeAlbum:hover{background-color:rgb(255, 75, 75);}
.single_song .remove_song
{
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
}
/*------------------preferiti----------------------------*/
#img_preferiti
{
  position: absolute;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 150px;
  height: 150px;
  border-radius: 100%;
  border: solid white 7px;
}
#title_preferiti
{
  position: absolute;
  left: 50%;
  transform: translate(-50%,200%);
}
/*------------------profilo----------------------------*/
#img_profile
{
  width: 100%;
  height: 100%;
  transition: 0.5s;
}
.container_img_profile
{
  width: 150px;
  height: 150px;
  position: relative;
  border-radius: 100%;
  overflow: hidden;
}
.filter_img_profile
{
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
}
.container_img_profile:hover .filter_img_profile
{
  opacity: 1;
}
.container_img_profile:hover #img_profile
{
  transform: scale(1.2);
}
#container_profile_data
{
  display: flex;
  align-items: center;
  width: 70vh;
  justify-content: space-evenly;
  margin: auto;
  margin-bottom: 50px;
  box-shadow: 10px 10px 40px -25px;
  padding: 10px;
  border-radius: 50px;
  border: solid 1px white;
}
.profile_data_label
{
  position: relative;
}
.profile_data
{
  font-size: 20px;
  margin: 0;
  margin-bottom: 15px;
}
#title_profile
{
  width: max-content;
  margin: auto;
}
#page_container_profile
{
  margin-top: 200px;
}
#container_change_profile
{
  margin: auto;
  width: 90vh;
  display: flex;
  flex-direction: column;
  height: max-content;
}
.input_change_profile
{
  width: 100%;
  margin-top: 80px;
}
#sub_change_profile
{
  position: relative;
  top: 50px;  
  width: 200px;
  margin: auto;
  display: block;
}
#change_form
{
  display: flex;
  flex-direction: column;
}
.cointeinerBannerImg
{
  overflow: hidden;
  position: relative;
  border-radius: 50px;
}
.cointeinerBannerImg:hover .filter_img_profile
{
  opacity: 1;
}
.cointeinerBannerImg:hover .imgBanner 
{
  transform: scale(1.15);
}
.changeBanner
{
  margin: 0 auto;
  margin-bottom: 50px;
  position: relative;
  width: 551px;
  min-height: max-content;
  max-height: 390px;
}
.imgBanner
{
  width: 100%;
  transition: 0.5s;
  transform: scale(1.05);
}
/*------------------uploadAlbum----------------------------*/
#fake_upload
{
  width: 138px;
  height: 128px;
  border: solid black 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#header_album
{
  display: flex;
  align-items: center; 
  margin: 0;
  margin-bottom: 20px;
}
.upload_icon
{
  position: relative;
  left: 15%;
  width:22px;
  height: 22px;
}
.plus_cross
{
  outline: none;
  border: none;
  position: relative; 
  display: block;
  width: 40px;
  height:40px;
  border-radius: 50px;
  background-color: rgb(55, 223, 55);
  margin: auto;
  margin-top: 30px;
}
.line1_cross
{
  display: block;
  width: 25px;
  height:5px;
  margin: 0;
  background-color: white;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
}
.line2_cross{transform: translate(-50%,-50%) rotate(90deg);}
#sub_upload_album
{
  padding: 10px;
  width: max-content;
  height: max-content;
  font-size: 25px;
  margin: auto;
  margin-top: 50px;
}
/*------------------upload_song----------------------------*/
#container_upload_song
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
#sub_upload_song
{
  font-size: 20px;
  margin-top: 50px;
}
.fake_upload
{
  width: 138px;
  height: 128px;
  margin-right: 40px;
  border: solid 1px black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.fake_upload > h3
{
  width: max-content;
}
.preview
{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.songUpload
{
  display: flex;
}
.fakeUploadSong
{
  width: 40px;
  height: 40px;
  margin-left: 20px;
  margin-right: 10px;
}
.uploadSong
{
  display: none;
}
.upload
{
  display: none;
}

