:root {
    /*________Colors_________*/
    --clr-primary: #26272b;
    --clr-background: white;    
    --clr-filter: rgba(75, 75, 75, 0.301);
    --clr-error: red;

    /*________Fonts_________*/
    --font-text: 'Quicksand', sans-serif;

    /*________Font-sizes_________*/
    --font-size-XXL: 6.5rem;
    --font-size-XL: 3.6rem;
    --font-size-L: 2rem;
    --font-size-M: 1.4rem;
    --font-size-S: 1rem;
    --font-size-XS: 0.5rem;
}