<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../assets/Img/Logo.png">
    <link rel="stylesheet" href="../assets/css/style.css">
    <title>Trackstry Login</title>
    <style>
        .site-footer
        {
            margin-top: 0;
        }
    </style>
</head>
<body class="bg_log">
    <%- include('partials/nav') %>
    <div id="container_log">
        <form action="/login" class="form" style="height:55%;padding: 40px;" method="POST">
            <img src="../assets/Img/Logo.png" class="img_log">
            <input type="text" name="username" required autocomplete="off" class="input_text" style="width: 320px;">
            <label for="username">Username</label>
            <input type="text" name="password" required required autocomplete="off" class="input_text" style="margin-top: 100px;width: 320px;">
            <label for="password">Password</label>
            <input type="submit"  style="margin: auto; margin-top: 100px;width: 220px;min-width: 100px;" class="button">
        </form>
    </div>
    <%- include('partials/footer') %>
    <script src="../assets/js/app.js" ></script>
</body>
</html>