<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="icon" href="../assets/Img/Logo.png">
    <script defer src="../assets/js/all.js"></script>
    <title>Player</title>
</head>
<body id="body_player" >
    <a href="#" id="prevPage"><i class="fas fa-arrow-left" id="back_arrow_player"></i></a>  

    <div id="container_player">

        <img src="#" id="img_player">

        <div class="songInfo">
            <h1></h1>
            <h5></h5>
        </div>

        <div>
            <div id="icon_row_player">
                <span id="back"><i class="fas fa-angle-double-left"></i></span>
                <span id="random"><i class="fas fa-random"></i></span>
                <div id="button-play" onclick="start()" >
                    <div id="play-icon" >
                        <i class="fas fa-play"></i>
                    </div>
                    <div id="pause-icon" >
                        <i class="fas fa-pause"></i>
                    </div>
            
                </div>
                <span id="reDo"><i class="fas fa-redo-alt"></i></span>
                <span id="next"><i class="fas fa-angle-double-right"></i></span>
            </div>

            <audio id="player" ontimeupdate="updateTime()" src="/assets/prova.mp3"></audio>

            <div class="controlBars">
                <input type="range" value="0" min="0" max="10000" id="duration" class="range"> <br>
                <div class="volumeBar"> 
                    <i class="fas fa-volume-up"></i>
                    <input type="range" value="50" min="0" max="100" id="seek" onchange="chageAudio(this.value)" class="range">
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="../assets/js/all.js"></script>
    <script type="text/javascript" src="../assets/js/player.js"></script>
    <script>
        const urlParams = new URLSearchParams(location.search);
        document.querySelector("#prevPage").href = "/artista/"+urlParams.get("artist");

        let songCounter = 0, repeatMode = 0, songs = {}, random = false;
        
        if(urlParams.get("album") === null)
        {
            document.querySelector("#next").style.display = "none";
            document.querySelector("#back").style.display = "none";
            document.querySelector("#random").style.opacity = 0;

            fetch("http://localhost:4000/v1/artists/"+urlParams.get("artist")+"/songs/"+urlParams.get("song"),{method:"GET",credentials:"include"})
            .then(res => res.json())
            .then(song => {
                console.log(song);
                document.querySelector("#img_player").src = "http://localhost:4000"+song.songImg;
                document.querySelector("#player").src = "http://localhost:4000"+song.songAudio; 
                document.querySelector(".songInfo > h1").innerHTML = song.songName;
                document.querySelector(".songInfo > h5").innerHTML = song.artist.name;

                document.querySelector("#player").addEventListener("ended",e => {
                    pause();
                    if(repeatMode !== 0)
                        document.querySelector("#player").currentTime = 0;
                    start();
                });
            })
        }
        else
        {
            fetch("http://localhost:4000/v1/artists/"+urlParams.get("artist")+"/albums/"+urlParams.get("album"),{method:"GET",credentials:"include"})
            .then(res => res.json())
            .then(album => {
                document.querySelector("#img_player").src = "http://localhost:4000"+album.albumImg;
            })

            fetch("http://localhost:4000/v1/artists/"+urlParams.get("artist")+"/albums/"+urlParams.get("album")+"/songs",{method:"GET",credentials:"include"})
            .then(res => res.json())
            .then(fetchedSongs => {

                for(let i = 0;i < fetchedSongs.length && songCounter === 0; i++)
                    if(fetchedSongs[i].id === Number(urlParams.get("song")))
                        songCounter = i;                 

                songs = fetchedSongs;
                
                console.log(songs[songCounter]);

                fillFiled(songs[songCounter]);

                document.querySelector("#player").addEventListener("ended",e => {
                    pause();
                    if(songCounter === songs.length-1)
                    {
                        if(repeatMode === 1)
                            songCounter = 0;
                        else if(repeatMode === 0 && !random)
                            location.href = "/artista/"+urlParams.get("artist");
                    }
                    else
                        if(repeatMode !== 2 && !random)
                            songCounter++;
                        else if(random)
                        {
                            let randPicked = -1;
                            while(randPicked === -1)
                                randPicked = Math.floor(Math.random()*songs.length);
                            
                            songCounter = randPicked;
                        }

                    fillFiled(songs[songCounter]);
                    start();
                });

                document.querySelector("#next").addEventListener("click",e => {
                    if(songCounter === songs.length-1)
                        return;
                    pause();
                    songCounter++;
                    fillFiled(songs[songCounter]);
                    start();
                });

                document.querySelector("#back").addEventListener("click",e => {
                    if(songCounter === 0)
                        return;
                    pause();
                    songCounter--;
                    fillFiled(songs[songCounter]);
                    start();
                });

            })
        }

        document.querySelector("#reDo").addEventListener("click",e => {
            const reDo = document.querySelector("#reDo");
            const rand = document.querySelector("#random");
            if(reDo.style.color === "orange")
            {
                repeatMode = 2;
                reDo.style.color = "red";
            }
            else if(reDo.style.color === "red" )
            {
                repeatMode = 0;
                reDo.style.color = "black";
            }
            else 
            {
                random = false;
                rand.style.color = "black";
                repeatMode = 1;
                reDo.style.color = "orange";  
            }
        });

        document.querySelector("#random").addEventListener("click",e => {
            const rand = document.querySelector("#random");
            if(rand.style.color === "red")
            {
                random = false;
                rand.style.color = "black";
            }
            else
            {
                repeatMode = 0;
                document.querySelector("#reDo").style.color = "black";
                random = true;
                rand.style.color = "red";
            }
        });
     
    </script>
</body>
</html>

