<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../assets/Img/Logo.png">
    <link rel="stylesheet" href="../assets/css/style.css">
    <title>Trackstry Login</title>
    <style>
        .site-footer
        {
            position: absolute;
            bottom: -311px;
            margin-top: 0;
        }
    </style>
</head>
<body class="bg_log">
    <%- include('partials/nav') %>
    <div>
        <form action="/signup" class="form" style="height:55%;padding: 40px;" method="POST">
            <img src="../assets/Img/Logo.png" class="img_log">
            <input type="text" name="username" required autocomplete="off" class="input_text" style="width: 320px;">
            <label for="username">Username</label>
            <input type="text" name="email" required autocomplete="off" class="input_text" style="margin-top: 50px;width: 320px;">
            <label for="eMail">E-Mail</label>
            <input type="password" name="password" required  autocomplete="off" class="input_text" style="margin-top: 50px;width: 320px;">
            <label for="password">Password</label>
            <input type="submit"  style="margin: auto; margin-top: 100px;width: 220px;min-width: 100px;" class="button">
            <h5 class="err"></h5>
        </form>
    </div>
    <%- include('partials/footer') %>
    <script src="../assets/js/app.js" ></script>
    <script>
        document.querySelector(".form").addEventListener("submit", e =>{
            event.preventDefault();

            let email = document.querySelector(".form > input[name='email']").value;
            let password = document.querySelector(".form > input[name='password']").value;
            let username = document.querySelector(".form > input[name='username']").value;

            let data = {
                username: username,
                email: email,
                password: password,
            };
            
            fetch("http://localhost:4000/v1/auth/signup",{
                method: 'POST',
                mode: 'cors',
                credentials: 'include',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
            .then(res => {
                if(res.status > 399)
                    throw new Error(res.status);       

                if(res.status === 200)
                    location.href = "/";
            })
            .catch(err => {
                if(Number(err.message) === 500)
                    document.querySelector(".err").innerHTML = "Errore con il server";
                else if(Number(err.message) === 409)
                    document.querySelector(".err").innerHTML = "Email o username gia esistenti";
            });

        });
    </script>
</body>
</html>