<%- include("partials/head", { title: 'Upload song', js: [ { file: 'pages/uploadSong.js' }, { file: 'fakeUpload.js' } ] }) %> 
<%- include("partials/nav") %>

<div class="abs-center container">
    <div class="container container--row">
        <div class="pivot" fakeUpload="albumImg">
            <img class="album__img img" preview="albumImg">
            <h3 class="abs-center">
                Inserisci immagine
            </h3>
        </div>
        <input realUpload="albumImg" type="file" class="upload" accept="image/*">

        <%- include("components/inputText", { name: 'albumTitle', label: 'Titolo album'}) %> 
        
        <img src="../assets/img/upload_icon.png" class="icon" fakeUpload="songFile">
        <input type="file" realUpload="songFile" accept="audio/*">
        <h5 fileName="songFile"></h5>
    </div>

    <button class="button" id="sub_upload_song">Crea</button>

</div>

<%- include('partials/footer') %>