<%- include("partials/head", { title: 'Upload album', js: [ { file: 'pages/uploadAlbum.js' } ] }) %> 
<%- include("partials/nav") %>
    
<div class="album" style="margin-top: 150px;">
    <div id="header_album">
        <div class="fake_upload">
            <img src="" class="preview">
            <h3>
                Inserisci IMG
            </h3>
        </div>
        <input type="file" class="upload" accept="image/*">
        <div class="container_input_text" >
            <input name="title_album" type="text" class="input_text" required autocomplete="off">
            <label for="title_album">Titolo album</label>
        </div>
    </div>
    <hr style="width: 100%;margin: 0;border: black solid 1px;">
    <ul style="padding: 0;margin: 0;list-style: none;" id="album_list">
        <li class="album_song" style="padding: 20px;">
            <span class="n_track" >1</span>
            <div class="container_input_text" >
                <input name="title_song" type="text" class="input_text" required autocomplete="off">
                <label for="title_song">Titolo canzone</label>
            </div>
            <img src="../assets/Img/upload_icon.png" class="fakeUploadSong">
            <input type="file" class="uploadSong" accept="audio/*">
            <h5 id="uploadSongName"></h5>
            <span class="removeSong" style="margin-right: 20px;" onclick="remove_songAlbum(this)" ><hr class="remove_line"></span>
        </li>
    </ul>

    <button class="plus_cross" onclick="add_songAlbum()"> 
        <span class="line1_cross"></span>
        <span class="line1_cross line2_cross"></span>
    </button>

    <button class="button" id="sub_upload_album">Crea</button>
</div>

<%- include('partials/footer') %>