<footer class="site-footer">
    <h6 style="width: max-content;margin-bottom: 20px;">About</h6>
    <p style="width: 82%;text-align: center;margin-bottom: 20px;">
        Sito di riproduzione musica fatto con HTML CSS JS NODE.JS come DB MySQL da Marco Schiavello stupido ragazzo che non sa fare siti, il sito è stato creato per scopi educativi 
        e non rivolto alla monetizzazione per tanto sono accettati aiuti o consigli il codice puo essere visionato anche su Github link: https://github.com/naturald/Trackstry;
        spero che il sito sia di vostro gradimento, ah si la grammatica fa schifo.
    </p>
    <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">Copyright &copy; 2021 All Rights Reserved by 
            <a href="#">ma perche scus</a>.
        </p>
    </div>
    <ul class="social-icons">
        <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
        <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
    </ul>
</footer>
</body>
</html>