<footer class="footer container container--Sgap">
    <h6 class="footer__title">About</h6>
    <p class="footer__text">
        Sito di riproduzione musica fatto con HTML CSS JS NODE.JS come DB MySQL da Marco Schiavello stupido ragazzo che non sa fare siti, il sito è stato creato per scopi educativi 
        e non rivolto alla monetizzazione per tanto sono accettati aiuti o consigli il codice puo essere visionato anche su Github link: https://github.com/naturald/Trackstry;
        spero che il sito sia di vostro gradimento, ah si la grammatica fa schifo.
    </p>
    <a class="footer__link" href="http://creativecommons.org/licenses/by/4.0/">CC by Marco Schiavello</a>
</footer>
</body>
</html>