<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../assets/Img/Logo.png">

    <link rel="stylesheet" href="../assets/css/style.css">
    
    <% if(typeof css !== 'undefined' && css.length !== 0) {%>
        <% for(cssFile of css) { %>
            <link rel="stylesheet" href="../assets/css/<%= cssFile %>">
        <% } %>
    <% } %>

    <script type="module" src="../assets/js/nav.js" defer></script>
    <script src="../assets/js/app.js" defer></script>

    <% if(typeof js !== 'undefined' && js.length !== 0) {%>
        <% for(jsFile of js) { %>
            <script <%= typeof jsFile.module === 'undefined' || jsFile.module ? 'type=module' : '' %> src="../assets/js/<%= jsFile.file %>" defer></script>
        <% } %>
    <% } %>

    <title><%= title %></title>
</head>
<body>