<header id="header">
    <a href="/">
        <img src="../assets/Img/Logo.png" alt="icon" id="logo">
    </a>
    <div style="display: flex; align-items: center;margin: 0 7px;">
        <ul style="display: flex;padding: 0;padding: 10px 20px;">
            <li onmouseover="movePointer(0)" class="voice_nav" ><a href="/">Home</a></li>
            <li onmouseover="movePointer(1)" class="voice_nav" ><a href="/artisti">artisti</a></li>
            <li onmouseover="movePointer(2)" class="voice_nav" id="nav_user" >
                Username
                <div id="user_cont">
                    <ul id="drop_user_cont">
                        <li class="cont_voice"><a>Musica</a></li>
                        <li class="cont_voice" style="border-bottom: none;"><a href="/preferiti">Preferiti</a></li>
                    </ul>
                </div>
            </li>       
        </ul>

        <img src="../assets/Img/nav/selector.png" alt="selector" id="selector">
        <hr class="splitbar_nav">
        <div style="display: flex;align-items: center;">
            <img src="../../assets/Img/Logo.png" id="img_user_nav">
            <div id="welcome_user">
                Ciao, <br>
                <%= sess.name %>
            </div>
            <span id="three_dot">
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
            </span>
            <div id="three_dot_cont" style="width: 150px;">
                <ul style="display: flex;padding: 0;flex-direction: column;margin: 0;">
                    <li class="cont_voice"><a href="">Modifica profilo</a></li>
                    <li class="cont_voice" style="border-bottom: none;"><a href="">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>