<nav class="nav container container--row container--justBtwn <%= typeof hidden !== 'undefined' && hidden ? 'hidden' : '' %>">
</nav>
<main class="main <%= typeof bgGradient !== 'undefined' && bgGradient ? 'main--bgGradient' : '' %>">