<header id="header">
    <a href="/">
        <img src="../assets/Img/Logo.png" alt="icon" id="logo">
    </a>
    <div style="display: flex; align-items: center;margin: 0 20px;">
        <ul style="display: flex;padding: 0;">
            <li onmouseover="movePointer(0)" class="voice_nav" ><a href="/">Home</a></li>
            <li onmouseover="movePointer(1)" class="voice_nav"><a href="">Canzoni</a></li>
        </ul>
        <img src="../assets/Img/nav/selector.png" alt="selector" id="selector">
        <hr style="transform: rotate(90deg);width: 40px;border:solid black 1px;">
        <div style="display: flex;align-items: center;">
            <a href="/login" id="logIn">
                Login
            </a>
            <button class="button" onclick="location.href = '/signup'">
                Sign up
            </button>
        </div>
    </div>
</header>