<!-- album -->
<div class="album" <% if(typeof visible === 'undefined' || !visible) { %> style="display: none;" <% } %>>

    <% if(typeof heading === 'undefined' || heading) { %>
        <!-- album heading -->
        <div class="album_header">
            <img src="#" style="width: 138px;height: 128px;">
            <h1 style="margin-left: 30px;"></h1>
            <% if(typeof edit !== 'undefined' && edit) { %>
                <span class="removeAlbum"><hr class="remove_line"></span>
            <% } %>
        </div>
    <% } %>

    <!-- album song heading -->
    <div style="display: flex;">
        <% if(typeof trackNumber === 'undefined' || trackNumber) { %>
            <h3 class="n_track">N°</h3>
        <% } %>
        <h3 class="song_name">nome_canzone</h3>
        <h3 class="author">autore</h3>
        <h3 class="song_title">album</h3>
        <h3 class="duration" style="right: 42px;">durata</h3>
    </div>

    <hr class="line">

    <!-- album song -->
    <ul class="album_list">
        <li class="album_song" style="display: none;">
            <span class="n_track" ></span>
            <span class="song_name"></span> 
            <span class="author author_field"></span>
            <span class="song_title data_song_field"></span> 
            <span class="duration data_song_field"></span>
            <% if(typeof edit !== 'undefined' && edit) { %>
                <span class="removeSong"><hr class="remove_line"></span>
            <% } else { %>
                <span><img src="../assets/Img/preferiti/stella_vuota.png" class="fav_star data_song_field"></span>
            <% } %>
        </li>
    </ul>

    <% if(typeof edit !== 'undefined' && edit) { %>
        <button id="addSongToAlbum" class="addSong" style="width: max-content;" onclick="add_songAlbum()">
            <span class="cross_add">+</span>
            <h3>aggiungi canzone</h3>
        </button>
    <% } %>
</div>
