<!-- album -->
<div class="album <%= typeof visible === 'undefined' || !visible ? 'hidden' : '' %>">

    <% if(typeof heading === 'undefined' || heading) { %>
        <!-- album heading -->
        <div class="album__heading container container--row container--Sgap container--noHalign">
            <% if(typeof img === 'undefined' || img) { %>
                <img src="#" class="album__img img" field="albumImg">
            <% } %>
            <h1 field="albumName"><%= typeof title !== 'undefined' ? title : '' %></h1>
            <% if(typeof edit !== 'undefined' && edit) { %>
                <span class="remove-btn icon" action="delteAlbum"><hr class="remove-line"></span>
                <% } %>
        </div>
    <% } %>

    <!-- album song heading -->
    <div class="album__header album__col-temp <%= typeof trackNumber === 'undefined' || trackNumber ? '' : 'album__col-temp--noNum' %>">
        <% if(typeof trackNumber === 'undefined' || trackNumber) { %>
            <h3>N°</h3>
        <% } %>
        <h3>nome_canzone</h3>
        <h3>autore</h3>
        <h3>album</h3>
        <h3>durata</h3>
    </div>

    <hr class="line">

    <!-- album song -->
    <ul class="album__song-list container container--nogap">
        <li class="album__song album__col-temp <%= typeof trackNumber === 'undefined' || trackNumber ? '' : 'album__col-temp--noNum' %> hidden">
            <% if(typeof trackNumber === 'undefined' || trackNumber) { %>
                <span field="albumTrackNumber">0</span>
            <% } %>
            <span field="albumTrackTitle"></span> 
            <span field="albumTrackAuthor"></span>
            <span field="albumTrackAlbum"></span> 
            <span field="albumTrackDuration">0:00</span>

            <div class="controls">
                <% if(typeof edit !== 'undefined' && edit) { %>
                    <span class="remove-btn icon" action="delteAlbumTrack"><hr class="remove-line"></span>
                <% } else { %>
                    <span><img src="/assets/img/preferiti/stella_vuota.png" class="icon" action="favStar"></span>
                <% } %>
            </div>
        </li>
    </ul>

    <% if(typeof edit !== 'undefined' && edit) { %>
        <button class="add-btn" id="addSongToAlbum" action="addTrack" onclick="add_songAlbum()">
            <span class="add-btn__cross">+</span>
            <h3>aggiungi canzone</h3>
        </button>
    <% } %>
</div>
