<div class="artist-card container container--Sgap hidden" template="artistCard">
    <div class="artist-card__img">
        <div class="artist-card__filter"></div>
        <img src="" field="artistImg">
    </div>
    <h2 class="artist-card__name" field="artistName"></h2>
</div>
