<div class="artist-card container">
    <div class="artist-card__img">
        <div class="artist-card__filter"></div>
        <img src="../assets/img/slider/sec_1.jpg">
    </div>
    <h2 class="artist-card__name">dsdadadasd</h2>
</div>