<input type="<%= typeof type === 'undefined'  ? 'text' : type %>" name="<%= name %>" required autocomplete="off" class="input_text" style="width: 320px;">
<label for="<%= name %>"><%= label %></label>