<div class="slider-cont">
    <div class="slider">
        <div class="slider__img-cont container container--row container--nogap" id="slider">
            <img src="../assets/img/<%= imgs[imgs.length - 1] %>" class="slider__img-cont__img">
            <% for( let i = 0; i < imgs.length; i++ ) { %>
                <img src="../assets/img/<%= imgs[i] %>" class="slider__img-cont__img">
            <% } %>
            <img src="../assets/img/<%= imgs[0] %>" class="slider__img-cont__img">
        </div>
    </div>
</div>