<div id="container_slider">
    <div id="slider">
        <div id="img_container_slider">
            <div  class="img_slider">
                <img src="../assets/Img/home/sec_3.jpg" class="inner_img_slider">
            </div>
            <div  class="img_slider">
                <img src="../assets/Img/home/bg_home.jpg" class="inner_img_slider">
            </div>
            <div  class="img_slider">
                <img src="../assets/Img/home/sec_1.jpg" class="inner_img_slider">
            </div>
            <div  class="img_slider">
                <img src="../assets/Img/home/sec_2.jpg" class="inner_img_slider">
            </div>
            <div  class="img_slider">
                <img src="../assets/Img/home/sec_3.jpg" class="inner_img_slider">
            </div>
            <div  class="img_slider">
                <img src="../assets/Img/home/bg_home.jpg" class="inner_img_slider">
            </div>
        </div>
    </div>
</div>